body {
    background: #3b1100;
}

.content {
    position: relative;
    width: 100%;
    max-width: 1080px;
    /* min-width: 750px; */
    margin: 0 auto;
    padding-bottom: 110px;
    background:rgb(22,30,38);
}

.bg_img {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.iostss {
    position: fixed;
    display: block;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 26pt;
    color: #000;
}
.bg_btn,
.bg_game {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.bg_game {
    flex-wrap: wrap;
    bottom: 15%;
}

.game {
    width: 21%;
}
.iconwarp{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.iconwarp > img{
    width: 21vw;
}