<div class="zhiyin" id="zhiyin">
    <img src=<%=baseUrl+"/images/close_btn.png"%> class="btnClose" alt="关闭">
    <div class="bottomPoint">
        <img class="dtimg" id="dt1" src=<%=baseUrl+"/images/444.png"%> alt="">
        <img class="dtimg" id="dt2" src=<%=baseUrl+"/images/333.png"%> alt="">
        <img class="dtimg" id="dt3" src=<%=baseUrl+"/images/555.png"%> alt="">
    </div>
</div>
<script>
    $(".zhiyin").click(function () {
        $(this).hide()
    })

</script>